:root {
  --color-primary: #2b2d31;
}


body {
  background-color: var(--color-primary);
  margin: 0;
  overflow: clip;
  overflow-y: auto;
}


#container-search {
  display: flex;
  flex-direction: column;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 3;

  > #container-header {
    background-color: #708090;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.4em;

    & #container-title {
      align-self: center;
      color: white;
      display: flex;
      font-family: sans-serif;
      font-size: 2em;
      font-weight: bold;
      padding-left: 0.3em;
    }
  
    & #container-search-bar {
      align-self: end;
      background-color: white;
      border: 2px solid gray;
      border-radius: 3em;
      display: flex;
      flex-direction: row;
      justify-self: end;
      padding: 0.25em;
      position: relative;
      right: 3em;
      width: 33%;
  
      & #search-bar {
        background-color: inherit;
        border-radius: inherit;
        border: none;
        font-size: 1.4em;
        padding-left: 1em;
        width: 100%;
      }
  
      & #clear-search-bar-button {
        background-color: inherit;
        border-radius: 50%;
        border: none;
        display: none;
  
        &:hover {
          cursor: pointer;
        }
  
        &.show {
          display: flex;
        }
        
        > img {
          max-width: 100%;
          width: 2.5em;
        }
      }
    }
  
    & #container-search-results {
      display: none;
    }
  }

  > #container-filters {
    align-items: center;
    background-color: #202020;
    display: flex;
    flex-direction: row;
    padding: 0.5em 1em;

    > #container-title {
      align-self: start;
      color: lightgray;
      font-family: arial;
      font-weight: bold;
      padding: 0.5em;
    }

    > #container-filters-list {
      display: flex;
      flex: row wrap;
      gap: 0.5em;
      max-height: 100%;
      padding: 0.25em 0.5em;
      width: 100%;

      > ul {
        display: flex;
        flex-flow: row wrap;
        gap: 0.75em;
        list-style-type: none;
        margin: 0;
        padding-left: 0;
        width: 100%;
        
        > li {
          padding-left: 0;

          > button {
            background-color: inherit;
            border: 3px solid gray;
            border-radius: 14px;
            color: white;
            padding: 0.3em 0.9em;
            width: max-content;

            &:hover {
              cursor: pointer;
            }
            
            &.active {
              border-color: lime;
            }
          }
        }
      }
    }
  }
}


#content {
  align-content: start;
  box-sizing: border-box;
  display: inline-grid;
  gap: 2em;
  grid-template-columns: repeat(round(down, calc(100vw / 15.8em)), auto);
  height: max-content;
  justify-content: start;
  overflow-x: clip;
  padding: 2em 1.5em;
  width: 100vw;

  > .card {
    background-color: white;
    border-radius: 18px;
    box-sizing: border-box;
    max-height: 17em;
    transition: 0.3s;
    width: 14em;

    &:hover {
      cursor: pointer;
      transform: scale(110%);
    }

    > .banner {
      aspect-ratio: 21 / 9;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
      overflow: clip;
      position: relative;
      width: 100%;
    }

    > .overview {
      padding: 1em;

      > .badges-list {
        display: flex;
        flex-flow: row wrap;
        gap: 0.5em;
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-bottom: 0.23em;
        
        > li {
          border: 2px solid gray;
          border-radius: 18px;
          color: #2b2d31;
          font-size: 0.75em;
          font-family: arial;
          padding: 0.3em 0.6em;
        }
      }
      
      > .title {
        font-family: arial;
        font-size: 1.3em;
        font-weight: bold;
      }

      > p {
        margin: 0;
        padding: 0;
      }
    }
  }
}


#container-navigation {
  display: none;
}


#container-festival-display {
  background-color: white;
  border-radius: 18px;
  display: none;
  height: 80%;
  left: 50%;
  overflow: clip;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 45%;

  &.show {
    display: inline-block;
  }

  > #banner {
    aspect-ratio: 21 / 9;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  > main {
    height: calc(100% - (50vw * (9/21)));
    overflow-y: auto;
    padding: 1em 2em;

    > .title {
      font-family: arial;
      font-size: 2em;
      font-weight: bold;
    }

    > p {
      font-family: sans-serif;
      font-size: 1.15em;
      margin: 0;
      padding: 0;
    }

    > .background {
      font-family: sans-serif;
      font-size: 1.1em;
    }
  }
}


#container-close {
  background-color: #000000dd;
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  transition: 0.3s;
  width: 100vw;

  &.active {
    display: block;
  }
}