:root {
  --color-primary: #2b2d31;
}


body {
  background-color: var(--color-primary);
  margin: 0;
  overflow: clip;
}


#container-search {
  background-color: #708090;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.4em;
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 3;

  & #container-title {
    align-self: center;
    color: white;
    display: flex;
    font-family: sans-serif;
    font-size: 2em;
    font-weight: bold;
    padding-left: 0.3em;
  }

  & #container-search-bar {
    align-self: end;
    background-color: white;
    border: 2px solid gray;
    border-radius: 3em;
    display: flex;
    flex-direction: row;
    justify-self: end;
    padding: 0.25em;
    position: relative;
    right: 3em;
    width: 33%;

    & #search-bar {
      background-color: inherit;
      border-radius: inherit;
      border: none;
      font-size: 1.4em;
      padding-left: 1em;
      width: 100%;
    }

    & #clear-search-bar-button {
      background-color: inherit;
      border-radius: 50%;
      border: none;
      display: none;

      &:hover {
        cursor: pointer;
      }

      &.show {
        display: flex;
      }
      
      > img {
        max-width: 100%;
        width: 2.5em;
      }
    }
  }

  & #container-search-results {
    display: none;
  }
}


#content {
  align-content: start;
  box-sizing: border-box;
  display: inline-grid;
  gap: 2em;
  grid-template-columns: repeat(round(down, calc(100vw / 15.8em)), auto);
  height: calc(100vh - 3em);
  justify-content: start;
  max-height: 100vh;
  overflow-x: clip;
  overflow-y: auto;
  padding: 2em 1.5em;
  width: 100vw;

  > .card {
    background-color: white;
    border-radius: 18px;
    box-sizing: border-box;
    max-height: 17em;
    transition: 0.3s;
    width: 14em;

    &:hover {
      cursor: pointer;
      transform: scale(110%);
    }

    > .banner {
      aspect-ratio: 21 / 9;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: 18px;
      border-top-right-radius: 18px;
      overflow: clip;
      position: relative;
      width: 100%;
    }

    > .overview {
      padding: 1em;

      > .title {
        font-family: arial;
        font-size: 1.3em;
        font-weight: bold;
      }

      > p {
        margin: 0;
        padding: 0;
      }
    }
  }
}


#container-navigation {
  display: none;
}


#container-festival-display {
  background-color: white;
  border-radius: 18px;
  display: none;
  left: 50%;
  overflow: clip;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 75vw;

  &.show {
    display: block;
  }

  > #banner {
    aspect-ratio: 21 / 9;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  > main {
    padding: 1em 2em;

    > .title {
      font-family: arial;
      font-size: 2em;
      font-weight: bold;
    }

    > p {
      font-family: sans-serif;
      font-size: 1.15em;
      margin: 0;
      padding: 0;
    }

    > .background {
      font-family: sans-serif;
      font-size: 1.1em;
    }
  }
}


#container-close {
  background-color: #000000dd;
  display: none;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  transition: 0.3s;
  width: 100vw;

  &.active {
    display: block;
  }
}