:root {
  --color-primary: #D7D7D7;
}


body {
  background-color: black;
  margin: 0;
  overflow: clip;
  padding: 0;
}


@media screen and (width <= 320px) {
  #container-navigation {
    background-color: white;
    border-radius: 13px 13px 0 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    height: 100vh;
    left: 0;
    overflow-y: auto;
    padding: 0.2em;
    position: absolute;
    top: 90vh;
    transition: 0.5s;
    width: 100vw;
    z-index: 1;

    #container-button {
      background-color: inherit;
      border-radius: 3px;
      display: flex;
      justify-content: center;
      justify-self: center;
      padding: 0 0.45em;
      top: -1em;
      position: sticky;
      width: 95%;
      z-index: 2;

      #navigation-button {
        background-color: inherit;
        border: none;
        
        & #navigation-button-image {
          max-width: 100%;
          width: 50px;
          transition: 0.3s;

          &.opened {
            transform: rotate(180deg);
          }
        }
      }
    }

    #container-search {
      align-self: center;
      background-color: var(--color-primary);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      margin-bottom: 1em;
      padding: 0.25em;
      position: relative;
      width: 89%;
      
      > #search-bar {
        background-color: inherit;
        border: 1px solid gray;;
        border-radius: inherit;
        font-family: sans-serif;
        font-size: 1em;
        padding: 0.25em 0.85em;
      }

      > #search-results {
        display: none;
        flex-direction: column;
        gap: 0.25em;
        list-style-type: none;
        max-height: 7em;
        margin: 0.33em;
        overflow-y: auto;
        padding-left: 0;

        &.display {
          display: flex;
        }

        > li {
          border: 1px solid black;
          border-radius: 10px;
          padding-left: 0;
          
          > button {
            background-color: inherit;
            border: none;
            padding: 0.25em 0.5em;
            width: 100%;
          }
        }
      }
    }
    
    #navigation {
      align-items: center;
      display: flex;
      flex-direction: column;
      gap: 0.25em;
      overflow-x: clip;
      padding-bottom: 0.4em;
      position: relative;

      > .navigation-item {
        background-color: white;
        border: 2px solid black;
        border-radius: 13px;
        color: brown;
        font-family: arial;
        font-size: 1em;
        font-weight: bold;
        padding: 0.75em 0;
        padding-left: 1.5em;
        text-align: left;
        width: 93%;
      }
    }
  }

  #display {
    background-color: var(--color-primary);
    height: 100vh;
    overflow-y: auto;
    
    > section {
      background-color: #90EDEF;
      display: none;
      height: 80%;
      overflow-y: auto;
      padding: 1em;
      padding-bottom: 70px;

      &.display {
        display: block;
      }

      > .header {
        background-color: inherit;
        text-align: center;

        > .name {
          font-family: sans-serif;
          font-size: 2em;
          font-weight: bold;
        }
      }

      > .content {
        background-color: inherit;
        display: flex;
        flex-direction: column;
        gap: 1em;
        height: max-content;
        padding-top: 1em;

        > .card {
          background-color: white;
          border-radius: 13px;
          padding: 1em;
          position: relative;

          > header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
            & .name {
              font-family: sans-serif;
              font-size: 1.2em;
              font-weight: bold;
            }

            & .collapse-button {
              background-color: inherit;
              border: none;

              > .image {
                max-width: 100%;
                width: 3em;
                transition: 0.3s;
                transform: rotate(180deg);

                &.opened {
                  transform: rotate(0deg);
                }
              }
            }
          }

          > .collapse {
            max-width: 100%;
            width: 2em;
            position: absolute;
            top: 1em;
            right: 1em;
          }

          > .description {
            display: none;
            
            > .info {
              display: flex;
              flex-direction: column;
              font-family: sans-serif;
              font-size: 0.86em;
              font-weight: bold;
  
              span {
                font-weight: normal;
              }
            }

            > .banner {
              padding-top: 1em;
              width: 100%;
            }
  
            > .background {
              font-family: arial;
              font-size: 0.9em;
              
              ul {
                display: flex;
                flex-direction: column;
                gap: 1em;
              }
            }
          }
        }
      }
    }
  }
}