:root {
  --color-primary: #2b2d31;
}


body {
  background-color: var(--color-primary);
  margin: 0;
  overflow: clip;
}


#container-navigation {
  bottom: 0;
  display: flex;
  flex-direction: row;
  height: max-content;
  justify-content: center;
  padding: 0.7em 0;
  position: absolute;
  width: 100vw;
  z-index: 0;

  & #search {
    aspect-ratio: 1 / 1;
    background-color: #9E9E9E;
    border: none;
    border-radius: 50%;
    display: flex;
    max-width: 100%;
    padding: 0.2em;
    position: relative;
    
    > img {
      aspect-ratio: 1 / 1;
      max-width: 100%;
      width: 3em;
    }
  }
}


#container-search {
  background-color: #D3D3D3;
  border-radius: 24px;
  display: none;
  flex-direction: column;
  height: 67vh;
  left: 50%;
  max-height: 67vh;
  overflow-x: clip;
  overflow-y: auto;
  padding: 1em;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80vw;
  z-index: 1;

  &.show {
    display: flex;
  }

  > #container-search-bar {
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    padding: 0 0.5em;
    position: sticky;
    top: 0;
    
    > #search-bar {
      border: none;
      padding: 0.5em 1em;
      width: 100%;
    }

    #clear-search-bar-button {
      background-color: inherit;
      border: none;
      display: none;
      padding: 0.5em;

      &.show {
        display: flex;
      }
      
      > img {
        aspect-ratio: 1 / 1;
        max-width: 100%;
        width: 1.5em;
      }
    }
  }

  > #container-search-results {
    margin-top: 0.7em;
    overflow-y: auto;
    
    > #search-results {
      background-color: inherit;
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      list-style-type: none;
      margin: 0;
      padding: 0;
  
      > li {
        background-color: inherit;
        text-align: left;
        
        > button {
          border: 1px solid gray;
          border-radius: 10px;
          font-family: arial;
          padding: 0.5em 1em;
          text-align: left;
          width: 100%;
        }
      }
    }
  }
}


#content {
  background-color: inherit;
  display: grid;
  height: 100vh;
  justify-items: center;
  overflow-x: clip;
  overflow-y: auto;
  row-gap: 1.5em;
  width: 100vw;
  
  .card {
    background-color: white;
    border-radius: 15px;
    transition: 0.3s;
    width: 75%;

    &:hover {
      cursor: pointer;
      transform: scale(0.9);
    }

    &:first-child {
      margin-top: 1.5em;
    }

    &:last-child {
      margin-bottom: 4.5em;
    }

    > .banner {
      aspect-ratio: 21 / 9;
      background-repeat: no-repeat;
      background-size: cover;
      border-top-left-radius: inherit;
      border-top-right-radius: inherit;
      display: flex;
      left: 0;
      overflow: clip;
      top: 0;
    }

    > .overview {
      padding: 0.5em 0.75em;

      > .title {
        font-family: arial;
        font-size: 1.25em;
        font-weight: bold;
      }

      p {
        font-family: sans-serif;
        font-size: 0.75em;
        margin: 0;
      }
    }
  }
}


#container-close {
  background-color: #000000dd;
  display: none;
  height: 100vh;
  left: 0;
  position: absolute;
  top: 0;
  width: 100vw;

  &.active {
    display: block;
  }
}


#container-festival-display {
  background-color: white;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  bottom: 0;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  position: absolute;
  transform: translateY(100%);
  transition: 0.3s;
  width: 100%;
  z-index: 2;

  &.show {
    transform: translateY(0);
  }

  > #banner {
    aspect-ratio: 21 / 9;
    background-color: inherit;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    display: flex;
    width: 100%;
  }

  > main {
    padding: 0.5em 1em;

    .background {
      font-family: arial;
      font-size: 0.75em;
    }
    
    > .title {
      font-family: arial;
      font-size: 1.3em;
      font-weight: bold;
    }

    > p {
      font-family: arial;
      font-size: 0.8em;
      margin: 0;
      padding: 0;
    }
  }
}


@media screen and (width <= 375px) {
  #content {
    .card {
      width: 67%;
    }
  }
}