:root {
  --color-primary: #2b2d31;
}


body {
  background-color: var(--color-primary);
  margin: 0;
  overflow: clip;
  overflow-y: auto;
}


#container-search {
  position: sticky;
  top: 0;
  width: 100vw;
  z-index: 3;
  
  > #container-header {
    align-items: center;
    background-color: inherit;
    display: flex;
    flex-direction: column;
    padding-bottom: 0.5em;
    padding-top: 0.5em;

    > #container-title {
      display: none;
    }

    > #container-search-bar {
      background-color: white;
      border: 2px solid gray;
      border-radius: 29px;
      display: flex;
      flex-direction: row;
      padding: 0.25em 0.5em;

      > #search-bar {
        background-color: inherit;
        border: none;
        border-radius: 14px;
        font-family: arial;
        padding: 0.25em 0.5em;
      }

      > #clear-search-bar-button {
        background-color: inherit;
        border: none;
        display: none;

        &.show {
          display: flex;
        }

        > img {
          aspect-ratio: 1 / 1;
          max-width: 100%;
        }
      }
    }

    > #container-search-results {
      display: none;
    }
  }

  > #container-filters {
    display: none;
  }
}


#container-navigation {
  display: none;
}


#content {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  gap: 0.75em;
  padding: 0 2em;
  width: 100vw;
  z-index: 0;
  
  > .card {
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: clip;

    &:hover {
      transform: scale(0.9);
    }

    > .banner {
      aspect-ratio: 21 / 9;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
    }

    > .overview {
      padding: 0.5em 1em;

      > .badges-list {
        display: flex;
        flex: row wrap;
        gap: 0.75em;
        list-style-type: none;
        margin: 0;
        padding: 0;
        padding-bottom: 0.25em;

        > li {
          border: 2px solid gray;
          border-radius: 18px;
          color: #2b2d31;
          font-family: arial;
          padding: 0.25em 0.5em;
        }
      }

      > .title {
        font-family: arial;
        font-weight: bold;
      }

      > p {
        font-family: arial;
        margin: 0;
        padding: 0;
      }
    }
  }
}


#container-close {
  background-color: #060606aa;
  display: none;
  left: 0;
  height: 100vh;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 3;

  &.active {
    display: block;
  }
}


#container-festival-display {
  background-color: white;
  border-radius: 16px;
  display: none;
  flex-direction: column;
  left: 50%;
  overflow: clip;
  position: fixed;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;

  &.show {
    display: flex;
  }

  > #banner {
    aspect-ratio: 21 / 9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
  }

  > main {
    max-height: 50vh;
    overflow-y: auto;
    padding: 0.5em 1em;

    > .title {
      font-family: arial;
      font-weight: bold;
    }

    > p {
      font-family: arial;
      margin: 0;
    }

    > .background {
      font-family: arial;
    }
  }
}


@media screen and (width <= 780px) {
  #container-search {
    > #container-header {
      > #container-search-bar {
        width: 15.5em;
        
        > #search-bar {
          font-size: 1em;
        }

        > #clear-search-bar-button {
          width: 3em;
        }
      }
    }
  }

  #content {
    > .card {
      > .overview {
        > .badges-list {
          > li {
            font-size: 0.7em;
          }
        }

        > .title {
          font-size: 1.3em;
        }

        > p {
          font-size: 0.8em;
        }
      }
    }
  }

  #container-festival-display {
    > main {
      > .title {
        font-size: 1.5em;
      }

      > p {
        font-size: 0.8em;
      }
    }
  }
}